@import url(./__button/header__button.css);
@import url(./__button-img/header__button-img.css);
@import url(./__slash/header__slash.css);
@import url(./__span/header__span.css);
.header {
  padding: 45px 0 0 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 3px;
  z-index: 5;
  min-width: 275px;
}